---

---

<section>
    <h2 class="headings">Sobre mí: </h2>
    <p>¡Hola! Soy Helena, desarrolladora fullstack. 
    Tras varios años intentando dedicarme al mundo de la educación, descubrí otra de mis pasiones, el desarrollo. 
    Es por ello por lo que decidí estudiar el grado superior de Desarrollo de aplicaciones web (DAW). 
    Tengo muchas ganas de aprender y desarrollar mi carrera profesional.
    </p>
</section>