---

---

<section>
    <h2 class="headings">Mis proyectos: </h2>
    <div class="yearContainer">
        <p class="year">2025</p>
        <div class="proyectContainer">
            <img src="logoGoodfilming.svg" alt="">
            <a class="link" target="_blank" href="https://goodfilming.vercel.app/"><strong>Goodfilming</strong> <img src="arrow-up.svg" class="arrow" alt="arrow"></a>
            <p>Página para leer noticias sobre cine y conocer los últimos estrenos.</p>
            <p>Astro · JavaScript · HTML · CSS · NodeJs</p>
        </div>
    </div>
</section>