---

---

<section>
    <h2 class="headings">Experiencia laboral: </h2>
    <div class="yearContainer">
        <p>2025</p>
        <div>
            <p><strong>Frontend Developer</strong> - <a href="https://abacodev.com/">Ábaco Developments</a></p>
            <ul>
                <li>Diseño y desarrollo de aplicaciones web utilizando <strong>JavaScript, CSS y HTML5</strong></li>
                <li>Creación de bases de datos <strong>MySQL</strong> e integración y desarrollo con <strong>PHP</strong></li>
            </ul>
        </div>
    </div>
    <div class="yearContainer">
        <p>2016 - 2025</p>
        <div>
            <p><strong>Monitora de comedor</strong></p>
            <p><strong>Monitora de extraescolares</strong></p>
            <p>Realización de <strong>voluntariados</strong> de apoyo educativo, recogida de alimentos y colaboraciópn en el programa "Todos a desayunar"</p>
            <p><strong>Promotora</strong> para campaña en Universidad</p>
        </div>
    </div>
</section>